{% if services is defined %}
{% for service in services %}
{{ service.subdomain }}.{{ domain }} {
    reverse_proxy {{ service.container_name }}:{{ service.port }} {
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
    }
}
{% endfor %}
{% endif %}
